/* ///// CSS Stylesheet by Amberfox.Studio ////// */

@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;700;800&display=swap");

body,
.body-text {
  font-family: "Kanit", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  color: #345265;
}

.container, .container-fluid {
  margin: 0 auto;
  overflow-x: hidden;
}
/* Our Comments Only */

hr {
  border: 1px solid #000000;
  width: 100%;
}
.block-titles {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
  margin-left: 20px;
}
.indicator {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
}

/* Our Comments Only */

.content {
  padding-left: 5%;
  padding-bottom: 5%;
}

/*text styles*/

h1 {
  font-family: "Kanit", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 46px;
  line-height: 42px;
  /* OC - Green */
  color: #146165;
}
h2 {
  font-family: "Kanit", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 27px;
  /* or 107% */
  /* OC - Orange */
  color: #db4325;
}
h3 {
  font-family: "Kanit", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  /* or 108% */
  /* OC - Green */
  color: #146165;
}
h3.caps {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 21px;
  letter-spacing: 0.05em;
  font-weight: 800;
}
h4 {
  font-family: "Kanit", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #db4325;
  /*  display: flex;
  align-items: flex-end;*/
}
h5 {
  font-family: "Kanit", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 16px;
  /* or 112% */
  color: #146165;
}
.body-text-cursive {
  font-family: "Kanit", Helvetica, sans-serif;
  font-style: italic;
  font-weight: 200;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  color: #345265;
}
.link-text {
  line-height: 18px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  /* OC - Orange */
  color: #db4325;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition:    all .3s ease-in-out;
  -o-transition:      all .3s ease-in-out;
  -ms-transition:     all .3s ease-in-out;
  transition:         all .3s ease-in-out;
}
.link-text:hover,
.link-text:active,
.link-text:focus,
.link-text:visited {
  color: #FF441F !important;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition:    all .3s ease-in-out;
  -o-transition:      all .3s ease-in-out;
  -ms-transition:     all .3s ease-in-out;
  transition:         all .3s ease-in-out;
}
button,
.btn {
  background: #db4325;
  border-radius: 40px;
  font-family: "Kanit", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 16px 35px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition:    all .3s ease-in-out;
  -o-transition:      all .3s ease-in-out;
  -ms-transition:     all .3s ease-in-out;
  transition:         all .3s ease-in-out;
}
.btn-xs {
  padding: 6px 35px;
}

.btn:hover,
.btn:active,
.btn:focus,
.btn:visited {
  background-color: #FF441F !important;
  color: #ffffff !important;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition:    all .3s ease-in-out;
  -o-transition:      all .3s ease-in-out;
  -ms-transition:     all .3s ease-in-out;
  transition:         all .3s ease-in-out;
}
.green {
  /* OC - Green */
  color: #146165;
}
.orange {
  /* OC - Orange */
  color: #db4325;
}
.text-wrapper {
  display: flex;
  flex-direction: row;
}




/*text blocks*/

.left-block {
  border-left: 3px solid #db4325;
}


.quote-icon {
  color: #e6e6e6;
  font-size: 46.88px;
}
.quote-end {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.wrapper {
  display: flex;
}


/* Text & Media Container ---- Circle IMG */

.wrapper-circle {

}
.img-circle {
  max-width: 100%;
  height: 100%;
  border-radius: 50%;
}

/* 100% width align center */

.img-circle-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Fix width align left */

.width-250 {
  width: 250px;
}



/* Text & Media Container ---- 16:9 IMG Card */

.wrapper-cards {
  background: #ffffff;
  border: 1px solid #e9e9e9;
  box-sizing: border-box;
  /* OC - Shadow 02 */
  box-shadow: 0px 5px 10px rgba(52, 82, 101, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.wrapper-cards-img {

}
.cards-img {
  max-width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.wrapper-card-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px 27px 20px 27px;
}

/* Text & Media Container ---- 9:16 Background IMG Card */

.wrapper-rectangle {
  position: relative;
  display: inline-block;
  text-align: center;
}
.wrapper-rectangle .overwritten-txt {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem 1.5rem;
  text-align: left;
}
.rectangle-img {
  max-width: 100%;
  height: 100%;
  border-radius: 10px;
}
.white-text {
  color: #ffffff;
}
.overwritten-text-body {
  position: absolute;
  top: 62%;
  left: 7%;
}
.body-text-white {
  color: #ffffff;
}


/* Text Media / fluid */

.container-fluid {
  padding: 0;
}
.wrapper-video {
  width: 200%;
  height: 100%;
}
.video-img {
  width: 100%;
  height: auto;
}

/* Carousel CSS */

.carousel-container {
  max-width: 100%;
  height: auto;
  position: relative;
}

.carousel-container .dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}
.carousel-container .dots li {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #929191;
  border-radius: 10px;
}

.carousel-container .dots li:hover {
  background-color: #929191;
}
.carousel-container.active,
.dot:hover {
  background-color: red;
}

.carousel-container .carousel-inner {
  width: 100%;
  height: 600px;
  border-radius: 0 0 50% 50% / 40px;
  background-color: #345265;
  overflow: hidden !important;
}
.carousel-container .carousel-inner .content-slider {
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}
.carousel-container .carousel-inner .content-slider img {
  max-width: 125% !important;
  height: auto;
  align-self: center;
  object-fit: cover;
}

.carousel-container .carousel-inner .content-slider .content-container {
  width: 50% !important;
  height: auto;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 70px;
  color: white;
}
.carousel-container .carousel-inner .content-slider .content-container h1,
.carousel-container .carousel-inner .content-slider .content-container h4,
.carousel-container
  .carousel-inner
  .content-slider
  .content-container {
  color: #fff !important;
}
/* Next & previous buttons */
.carousel-container .prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 20px;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white !important;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 10;
}
.carousel-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 20px;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white !important;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 10;
}
.carousel-container .prev:hover,
.carousel-container .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel-container .carousel-inner {
  height: 600px;
}

/* ROW Background */

.row-circle-01 {
  min-height: 20vw;
  border-radius: 50% 50% 0 0 / 10vw;
  background: #f3f7f7;
  position: relative;
}
.row-circle-01::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 291px;
  width: 100%;
  background: url(ui/background/bc-02.svg) top center;
  background-position: bottom center;
  background-size: cover;
}
.row-circle-02 {
  min-height: 20vw;
  border-radius: 50% / 10vw;
  background: #f3f7f7;
  position: relative;
}



/* COURSES COLOURS */


.courses,
.courses p,
.courses .body-text,
.courses .body-text-cursive {
  color: #000000;
}
.courses .link-text {
  color: #000000;
}
.courses .link-text:hover,
/* course detail page*/.course-page h3.caps {
  color: #db4325;
}

.wrapper-square-card:hover .link-text {
  color: #db4325;
}

/* Building & Construction Color #FFB300 */

.building h1,
.building h2,
.building h3,
.building h5,
.building path,
.building.wrapper-square-card:hover {
  stroke: #db4325;
  color: #000000;
  border-color: ;
}
.building .btn {
  background-color: #FFB300;
  color: #000000;
}

/* Buisness & Management Color #2551C1 */

.business h1,
.business h2,
.business h3,
.business h5,
.business path,
.business.wrapper-square-card:hover {
  stroke: #2551C1;
  color: #2551C1;
  border-color: #2551C1;
}
.business .btn {
  background-color: #2551C1;
  color: #FFFFFF;
}

/* English Hub Color #7B1BDA */

.english h1,
.english h2,
.english h3,
.english h5,
.english path,
.english.wrapper-square-card:hover {
  stroke: #7B1BDA;
  color: #7B1BDA;
  border-color: #7B1BDA;
}
.english .btn {
  background-color: #7B1BDA;
  color: #FFFFFF;
}

/* Short Courses Color #E11855 */

.short h1,
.short h2,
.short h3,
.short h5,
.short path,
.short.wrapper-square-card:hover {
  stroke: #E11855;
  color: #E11855;
  border-color: #E11855;
}
.short .btn {
  background-color: #E11855;
  color: #FFFFFF;
}

.courses.short path {
  stroke: #E11855;
}

/* Our Courses Card */

.wrapper-square-card {
  background: #ffffff;
  border: 2px solid #e9e9e9;
  box-sizing: border-box;
  /* OC - Shadow 02 */
  box-shadow: 0px 5px 10px rgba(52, 82, 101, 0.1);
  border-radius: 10px;
  width: 102%;
  padding: 30px 10px 20px 27px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition:    all .3s ease-in-out;
  -o-transition:      all .3s ease-in-out;
  -ms-transition:     all .3s ease-in-out;
  transition:         all .3s ease-in-out;
}
.wrapper-square-card:hover {
  box-shadow: 0px 10px 0px rgb(52 82 101 / 5%);
  animation-timing-function: ease-out;
}
.text-square-card {
  width: 96%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #d7dadd;
}
.text-square-card h3 {
  min-height: 42px;
}
.text-square-card p {
  min-height: 104px;
  display: flex;
  align-items: center;
}
.ul-square-card ul {
  list-style: none;
  padding: 20px 0 5px 0;
}
.ul-square-card li {
    display: flex;
    align-items: center;
}
.ul-square-card span {
  padding: 0 2px;
  line-height: 16px;
  color: #000000 !important;
}

.link-box {
  display: flex;
  flex-direction: row;
}


/* UI */

.ico {
  display: flex;
}

@media only screen and (max-width: 992px) {
  .carousel-container .carousel-inner {
    height: 445px;
    border-radius: 0 0 50% 50% / 20px;
  }
}

@media only screen and (max-width: 767px) {
 
/* Font Sizes */
  body,
  .body-text,
  .body-text-cursive,
  .link-text {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.02em;
  }
  h1 {
    font-size: 34px;
    line-height: 33px;
  }
  h2 {
    font-size: 23px;
    line-height: 21px;
    font-weight: 700;
  }
  h3 {
    font-size: 20px;
    line-height: 18px;
  }
  h3.caps {
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
  }
  h4 {
    font-size: 13px;
    line-height: 13px;
    font-weight: 300;
    margin-bottom: 0.2rem;
  }
  h5 {
    font-size: 13px;
    line-height: 13px;
    font-weight: 700;
    letter-spacing: 0.05em;
  }
  button, .btn, .btn-xs {
    font-size: 15px;
    line-height: 16px;
    padding: 10px 35px;
  }
/* Font Sizes End */

.carousel-container .carousel-inner {
  height: 300px;
}
.carousel-container .dots {
  position: absolute;
  bottom: -10px;
  left: 30%;
  z-index: 15;
  width: 20%;
  padding-left: 0;
  margin-left: 10%;
  text-align: center;
  list-style: none;
}
}
@media only screen and (max-width: 485px) {
  .carousel-container .carousel-inner .content-slider img {
    max-width: 200% !important;
  }
  .carousel-container .carousel-inner .content-slider .content-container {
    display: none;
  }

}
